* master_id Eşsiz müşteri numarası
* order_channel Alışveriş yapılan platforma ait hangi
* kanalın kullanıldığı (Android, ios, Desktop, Mobile)
* last_order_channel En son alışverişin yapıldığı kanal
* first_order_date Müşterinin yaptığı ilk alışveriş tarihi
* last_order_date Müşterinin yaptığı son alışveriş tarihi
* last_order_date_online Müşterinin online platformda yaptığı son alışveriş tarihi
* last_order_date_offline Müşterinin offline platformda yaptığı son alışveriş tarihi
* order_num_total_ever_online Müşterinin online platformda yaptığı toplam alışveriş sayıso
* order_num_total_ever_offline Müşterinin offline'da yaptığı toplam alışveriş sayısı
* customer_value_total_ever_offline Müşterinin offline alışverişlerinde ödediği toplam ücret
* customer_value_total_ever_online Müşterinin online alışverişlerinde ödediği toplam ücret
* interested_in_categories_12 Müşterinin son 12 ayda alışveriş yaptığı kategorilerin listesi

### Görev 1: 
* Veriyi Anlama ve Hazırlama

* Adım 1: flo_data_20K.csv verisini okuyunuz.Dataframe’in kopyasını oluşturunuz

In [1]:
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt
from lifetimes import BetaGeoFitter
from lifetimes import GammaGammaFitter
from lifetimes.plotting import plot_period_transactions

pd.set_option('display.max_columns', None)
pd.set_option('display.width', 500)
pd.set_option('display.float_format', lambda x : '%.4f' % x)

In [7]:
df_ = pd.read_csv("G:\\Drive'ım\\Yazılım\\Eğitim\\Veri Bilimi\\CRM\\FLO\\flo_data_20k.csv")
df = df_.copy()
df.head()

                              master_id order_channel last_order_channel first_order_date last_order_date last_order_date_online last_order_date_offline  order_num_total_ever_online  order_num_total_ever_offline  customer_value_total_ever_offline  customer_value_total_ever_online       interested_in_categories_12
0  cc294636-19f0-11eb-8d74-000d3a38a36f   Android App            Offline       2020-10-30      2021-02-26             2021-02-21              2021-02-26                       4.0000                        1.0000                           139.9900                          799.3800                           [KADIN]
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f   Android App             Mobile       2017-02-08      2021-02-16             2021-02-16              2020-01-10                      19.0000                        2.0000                           159.9700                         1853.5800  [ERKEK, COCUK, KADIN, AKTIFSPOR]
2  69b69676-1a40-11ea-941b-000d3a38a36f   Android App        Android App       2019-11-27      2020-11-27             2020-11-27              2019-12-01                       3.0000                        2.0000                           189.9700                          395.3500                    [ERKEK, KADIN]
3  1854e56c-491f-11eb-806e-000d3a38a36f   Android App        Android App       2021-01-06      2021-01-17             2021-01-17              2021-01-06                       1.0000                        1.0000                            39.9900                           81.9800               [AKTIFCOCUK, COCUK]
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f       Desktop            Desktop       2019-08-03      2021-03-07             2021-03-07              2019-08-03                       1.0000                        1.0000                            49.9900                          159.9900                       [AKTIFSPOR]

In [87]:
df = df_.copy()

* Adım 2: Veri setinde
* * a. İlk 10 gözlem,
* * b. Değişken isimleri,
* * c. Betimsel istatistik,
* * d. Boş değer,
* * e. Değişken tipleri, incelemesi yapınız

In [88]:
df.head(10)

                              master_id order_channel last_order_channel first_order_date last_order_date last_order_date_online last_order_date_offline  order_num_total_ever_online  order_num_total_ever_offline  customer_value_total_ever_offline  customer_value_total_ever_online       interested_in_categories_12
0  cc294636-19f0-11eb-8d74-000d3a38a36f   Android App            Offline       2020-10-30      2021-02-26             2021-02-21              2021-02-26                       4.0000                        1.0000                           139.9900                          799.3800                           [KADIN]
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f   Android App             Mobile       2017-02-08      2021-02-16             2021-02-16              2020-01-10                      19.0000                        2.0000                           159.9700                         1853.5800  [ERKEK, COCUK, KADIN, AKTIFSPOR]
2  69b69676-1a40-11ea-941b-000d3a38a36f   Android App        Android App       2019-11-27      2020-11-27             2020-11-27              2019-12-01                       3.0000                        2.0000                           189.9700                          395.3500                    [ERKEK, KADIN]
3  1854e56c-491f-11eb-806e-000d3a38a36f   Android App        Android App       2021-01-06      2021-01-17             2021-01-17              2021-01-06                       1.0000                        1.0000                            39.9900                           81.9800               [AKTIFCOCUK, COCUK]
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f       Desktop            Desktop       2019-08-03      2021-03-07             2021-03-07              2019-08-03                       1.0000                        1.0000                            49.9900                          159.9900                       [AKTIFSPOR]
5  e585280e-aae1-11e9-a2fc-000d3a38a36f       Desktop            Offline       2018-11-18      2021-03-13             2018-11-18              2021-03-13                       1.0000                        2.0000                           150.8700                           49.9900                           [KADIN]
6  c445e4ee-6242-11ea-9d1a-000d3a38a36f   Android App        Android App       2020-03-04      2020-10-18             2020-10-18              2020-03-04                       3.0000                        1.0000                            59.9900                          315.9400                       [AKTIFSPOR]
7  3f1b4dc8-8a7d-11ea-8ec0-000d3a38a36f        Mobile            Offline       2020-05-15      2020-08-12             2020-05-15              2020-08-12                       1.0000                        1.0000                            49.9900                          113.6400                           [COCUK]
8  cfbda69e-5b4f-11ea-aca7-000d3a38a36f   Android App        Android App       2020-01-23      2021-03-07             2021-03-07              2020-01-25                       3.0000                        2.0000                           120.4800                          934.2100             [ERKEK, COCUK, KADIN]
9  1143f032-440d-11ea-8b43-000d3a38a36f        Mobile             Mobile       2019-07-30      2020-10-04             2020-10-04              2019-07-30                       1.0000                        1.0000                            69.9800                           95.9800                [KADIN, AKTIFSPOR]

In [89]:
df.isnull().sum()

master_id                            0
order_channel                        0
last_order_channel                   0
first_order_date                     0
last_order_date                      0
last_order_date_online               0
last_order_date_offline              0
order_num_total_ever_online          0
order_num_total_ever_offline         0
customer_value_total_ever_offline    0
customer_value_total_ever_online     0
interested_in_categories_12          0
dtype: int64

In [90]:
df.shape

(19945, 12)

In [91]:
df["order_channel"].value_counts()

order_channel
Android App    9495
Mobile         4882
Ios App        2833
Desktop        2735
Name: count, dtype: int64

In [92]:
df["last_order_channel"].value_counts()

last_order_channel
Android App    6783
Offline        6608
Mobile         3172
Ios App        1696
Desktop        1686
Name: count, dtype: int64

In [93]:
df.columns

Index(['master_id', 'order_channel', 'last_order_channel', 'first_order_date', 'last_order_date', 'last_order_date_online', 'last_order_date_offline', 'order_num_total_ever_online', 'order_num_total_ever_offline', 'customer_value_total_ever_offline', 'customer_value_total_ever_online', 'interested_in_categories_12'], dtype='object')

In [94]:
df.describe().T

                                       count     mean      std     min      25%      50%      75%        max
order_num_total_ever_online       19945.0000   3.1109   4.2256  1.0000   1.0000   2.0000   4.0000   200.0000
order_num_total_ever_offline      19945.0000   1.9139   2.0629  1.0000   1.0000   1.0000   2.0000   109.0000
customer_value_total_ever_offline 19945.0000 253.9226 301.5329 10.0000  99.9900 179.9800 319.9700 18119.1400
customer_value_total_ever_online  19945.0000 497.3217 832.6019 12.9900 149.9800 286.4600 578.4400 45220.1300

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19945 entries, 0 to 19944
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   master_id                          19945 non-null  object
 1   order_channel                      19945 non-null  object
 2   last_order_channel                 19945 non-null  object
 3   first_order_date                   19945 non-null  object
 4   last_order_date                    19945 non-null  object
 5   last_order_date_online             19945 non-null  object
 6   last_order_date_offline            19945 non-null  object
 7   order_num_total_ever_online        19945 non-null  float64
 8   order_num_total_ever_offline       19945 non-null  float64
 9   customer_value_total_ever_offline  19945 non-null  float64
 10  customer_value_total_ever_online   19945 non-null  float64
 11  interested_in_categories_12        19945 non-null  object
dtypes: float64(4), object(8)
memory usage: 1.8+ MB

* Adım 3: Omnichannel müşterilerin hem online'dan hemde offline platformlardan alışveriş yaptığını ifade etmektedir. Her bir müşterinin toplam
alışveriş sayısı ve harcaması için yeni değişkenler oluşturunuz

In [96]:
df["order_num_total_ever_omnichannel"] = df["order_num_total_ever_offline"] + df["order_num_total_ever_online"]

In [97]:
df.head()

                              master_id order_channel last_order_channel first_order_date last_order_date last_order_date_online last_order_date_offline  order_num_total_ever_online  order_num_total_ever_offline  customer_value_total_ever_offline  customer_value_total_ever_online       interested_in_categories_12  order_num_total_ever_omnichannel
0  cc294636-19f0-11eb-8d74-000d3a38a36f   Android App            Offline       2020-10-30      2021-02-26             2021-02-21              2021-02-26                       4.0000                        1.0000                           139.9900                          799.3800                           [KADIN]                            5.0000
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f   Android App             Mobile       2017-02-08      2021-02-16             2021-02-16              2020-01-10                      19.0000                        2.0000                           159.9700                         1853.5800  [ERKEK, COCUK, KADIN, AKTIFSPOR]                           21.0000
2  69b69676-1a40-11ea-941b-000d3a38a36f   Android App        Android App       2019-11-27      2020-11-27             2020-11-27              2019-12-01                       3.0000                        2.0000                           189.9700                          395.3500                    [ERKEK, KADIN]                            5.0000
3  1854e56c-491f-11eb-806e-000d3a38a36f   Android App        Android App       2021-01-06      2021-01-17             2021-01-17              2021-01-06                       1.0000                        1.0000                            39.9900                           81.9800               [AKTIFCOCUK, COCUK]                            2.0000
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f       Desktop            Desktop       2019-08-03      2021-03-07             2021-03-07              2019-08-03                       1.0000                        1.0000                            49.9900                          159.9900                       [AKTIFSPOR]                            2.0000

In [98]:
df["customer_value_total_ever_omnichannel"] = df["customer_value_total_ever_offline"] + df["customer_value_total_ever_online"]
df.head()

                              master_id order_channel last_order_channel first_order_date last_order_date last_order_date_online last_order_date_offline  order_num_total_ever_online  order_num_total_ever_offline  customer_value_total_ever_offline  customer_value_total_ever_online       interested_in_categories_12  order_num_total_ever_omnichannel  customer_value_total_ever_omnichannel
0  cc294636-19f0-11eb-8d74-000d3a38a36f   Android App            Offline       2020-10-30      2021-02-26             2021-02-21              2021-02-26                       4.0000                        1.0000                           139.9900                          799.3800                           [KADIN]                            5.0000                               939.3700
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f   Android App             Mobile       2017-02-08      2021-02-16             2021-02-16              2020-01-10                      19.0000                        2.0000                           159.9700                         1853.5800  [ERKEK, COCUK, KADIN, AKTIFSPOR]                           21.0000                              2013.5500
2  69b69676-1a40-11ea-941b-000d3a38a36f   Android App        Android App       2019-11-27      2020-11-27             2020-11-27              2019-12-01                       3.0000                        2.0000                           189.9700                          395.3500                    [ERKEK, KADIN]                            5.0000                               585.3200
3  1854e56c-491f-11eb-806e-000d3a38a36f   Android App        Android App       2021-01-06      2021-01-17             2021-01-17              2021-01-06                       1.0000                        1.0000                            39.9900                           81.9800               [AKTIFCOCUK, COCUK]                            2.0000                               121.9700
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f       Desktop            Desktop       2019-08-03      2021-03-07             2021-03-07              2019-08-03                       1.0000                        1.0000                            49.9900                          159.9900                       [AKTIFSPOR]                            2.0000                               209.9800

* Adım 4: Değişken tiplerini inceleyiniz. Tarih ifade eden değişkenlerin tipini date'e çeviriniz

In [99]:
date_columns = df.columns[df.columns.str.contains("date")]
df[date_columns] = df[date_columns].apply(pd.to_datetime)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19945 entries, 0 to 19944
Data columns (total 14 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   master_id                              19945 non-null  object
 1   order_channel                          19945 non-null  object
 2   last_order_channel                     19945 non-null  object
 3   first_order_date                       19945 non-null  datetime64[ns]
 4   last_order_date                        19945 non-null  datetime64[ns]
 5   last_order_date_online                 19945 non-null  datetime64[ns]
 6   last_order_date_offline                19945 non-null  datetime64[ns]
 7   order_num_total_ever_online            19945 non-null  float64
 8   order_num_total_ever_offline           19945 non-null  float64
 9   customer_value_total_ever_offline      19945 non-null  float64
 10  customer_value_total_ever_online       19945 non-null  float64
 11  interested_in_categories_12            19945 non-null  object
 12  order_num_total_ever_omnichannel       19945 non-null  float64
 13  customer_value_total_ever_omnichannel  19945 non-null  float64
dtypes: datetime64[ns](4), float64(6), object(4)
memory usage: 2.1+ MB

* Adım 5: Alışveriş kanallarındaki müşteri sayısının, toplam alınan ürün sayısının ve toplam harcamaların dağılımına bakınız.

In [100]:
df.groupby(["order_channel"]).agg({"master_id":"count",
                                   "order_num_total_ever_omnichannel":"sum",
                                   "customer_value_total_ever_omnichannel": "sum"})

               master_id  order_num_total_ever_omnichannel  customer_value_total_ever_omnichannel
order_channel
Android App         9495                        52269.0000                           7819062.7600
Desktop             2735                        10920.0000                           1610321.4600
Ios App             2833                        15351.0000                           2525999.9300
Mobile              4882                        21679.0000                           3028183.1600

* Adım 6: En fazla kazancı getiren ilk 10 müşteriyi sıralayınız.

In [101]:
df["customer_value_total_ever_omnichannel"].sort_values(ascending=False).head(10)

11150   45905.1000
4315    36818.2900
7613    33918.1000
13880   31227.4100
9055    20706.3400
7330    18443.5700
8068    16918.5700
163     12726.1000
7223    12282.2400
18767   12103.1500
Name: customer_value_total_ever_omnichannel, dtype: float64

* Adım 7: En fazla siparişi veren ilk 10 müşteriyi sıralayınız.

In [102]:
df["order_num_total_ever_omnichannel"].sort_values(ascending=False).head(10)

11150   202.0000
7223    131.0000
8783    111.0000
2619     88.0000
6322     83.0000
7613     82.0000
9347     77.0000
10954    75.0000
7330     70.0000
8068     70.0000
Name: order_num_total_ever_omnichannel, dtype: float64

* Adım 8: Veri ön hazırlık sürecini fonksiyonlaştırınız.

In [103]:
def data_prep(dataframe):
    dataframe["order_num_total_ever_omnichannel"] = dataframe["order_num_total_ever_offline"] + dataframe["order_num_total_ever_online"]
    dataframe["customer_value_total_ever_omnichannel"] = dataframe["customer_value_total_ever_online"] + dataframe["customer_value_total_ever_offline"]
    date_columns = dataframe.columns[dataframe.columns.str.contains("date")]
    dataframe[date_columns] = dataframe[date_columns].apply(pd.to_datetime)
    return df

### Görev 2: RFM Metriklerinin Hesaplanması

In [104]:
#recency = müşterinin yeniliği
#frequency = işlem sıklığı
#monetary = parasal değer

In [105]:
df["last_order_date"].max()

Timestamp('2021-05-30 00:00:00')

In [106]:
today_date = dt.datetime(2021,6,1)

In [114]:
rfm = pd.DataFrame()
rfm["customer_id"] = df["master_id"]
rfm["recency"] = (today_date - df["last_order_date"]).dt.days
rfm["frequency"] = df["order_num_total_ever_omnichannel"]
rfm["monetary"] = df["customer_value_total_ever_omnichannel"]

In [115]:
rfm.head()

                            customer_id  recency  frequency  monetary
0  cc294636-19f0-11eb-8d74-000d3a38a36f       95     5.0000  939.3700
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f      105    21.0000 2013.5500
2  69b69676-1a40-11ea-941b-000d3a38a36f      186     5.0000  585.3200
3  1854e56c-491f-11eb-806e-000d3a38a36f      135     2.0000  121.9700
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f       86     2.0000  209.9800

### Görev 3: RF Skorunun Hesaplanması

In [116]:
rfm["recency_score"] = pd.qcut(rfm["recency"], 5, labels=("5", "4", "3", "2", "1"))
rfm["frequency_score"] = pd.qcut(rfm["frequency"].rank(method = "first"),5, labels=("1", "2", "3", "4", "5"))
rfm["monetary_score"] = pd.qcut(rfm["monetary"], 5, labels=("1", "2", "3", "4", "5"))

rfm.head()

                            customer_id  recency  frequency  monetary recency_score frequency_score monetary_score
0  cc294636-19f0-11eb-8d74-000d3a38a36f       95     5.0000  939.3700             3               4              4
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f      105    21.0000 2013.5500             3               5              5
2  69b69676-1a40-11ea-941b-000d3a38a36f      186     5.0000  585.3200             2               4              3
3  1854e56c-491f-11eb-806e-000d3a38a36f      135     2.0000  121.9700             3               1              1
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f       86     2.0000  209.9800             3               1              1

In [117]:
rfm["RF_SCORE"] = rfm["recency_score"].astype(str) + rfm["frequency_score"].astype(str)
rfm.head()

                            customer_id  recency  frequency  monetary recency_score frequency_score monetary_score RF_SCORE
0  cc294636-19f0-11eb-8d74-000d3a38a36f       95     5.0000  939.3700             3               4              4       34
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f      105    21.0000 2013.5500             3               5              5       35
2  69b69676-1a40-11ea-941b-000d3a38a36f      186     5.0000  585.3200             2               4              3       24
3  1854e56c-491f-11eb-806e-000d3a38a36f      135     2.0000  121.9700             3               1              1       31
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f       86     2.0000  209.9800             3               1              1       31

### Görev 4: RF Skorunun Segment Olarak Tanımlanması

In [118]:
seg_map = {
    r'[1-2][1-2]': 'hibernating',
    r'[1-2][3-4]': 'at_Risk',
    r'[1-2]5': 'cant_loose',
    r'3[1-2]': 'about_to_sleep',
    r'33': 'need_attention',
    r'[3-4][4-5]': 'loyal_customers',
    r'41': 'promising',
    r'51': 'new_customers',
    r'[4-5][2-3]': 'potential_loyalists',
    r'5[4-5]': 'champions'
}

In [119]:
rfm["segment"] = rfm["RF_SCORE"].replace(seg_map, regex=True)

In [120]:
rfm.head()

                            customer_id  recency  frequency  monetary recency_score frequency_score monetary_score RF_SCORE          segment
0  cc294636-19f0-11eb-8d74-000d3a38a36f       95     5.0000  939.3700             3               4              4       34  loyal_customers
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f      105    21.0000 2013.5500             3               5              5       35  loyal_customers
2  69b69676-1a40-11ea-941b-000d3a38a36f      186     5.0000  585.3200             2               4              3       24          at_Risk
3  1854e56c-491f-11eb-806e-000d3a38a36f      135     2.0000  121.9700             3               1              1       31   about_to_sleep
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f       86     2.0000  209.9800             3               1              1       31   about_to_sleep

### Görev 5: Aksiyon Zamanı

* Adım 1: Segmentlerin recency, frequnecy ve monetary ortalamalarını inceleyiniz.

In [121]:
rfm_ = rfm.groupby("segment").agg({"recency" : ("mean","count"),
                            "frequency" : ("mean","count"),
                            "monetary" : ("mean","count")})
rfm_.reset_index()

               segment  recency       frequency        monetary
                           mean count      mean count      mean count
0       about_to_sleep 113.7851  1629    2.4015  1629  359.0090  1629
1              at_Risk 241.6068  3131    4.4724  3131  646.6102  3131
2           cant_loose 235.4442  1200   10.6983  1200 1474.4682  1200
3            champions  17.1066  1932    8.9343  1932 1406.6251  1932
4          hibernating 247.9495  3604    2.3940  3604  366.2671  3604
5      loyal_customers  82.5948  3361    8.3746  3361 1216.8186  3361
6       need_attention 113.8287   823    3.7278   823  562.1430   823
7        new_customers  17.9176   680    2.0000   680  339.9555   680
8  potential_loyalists  37.1559  2938    3.3043  2938  533.1845  2938
9            promising  58.9212   647    2.0000   647  335.6727   647

* * FLO bünyesine yeni bir kadın ayakkabı markası dahil ediyor. Dahil ettiği markanın ürün fiyatları genel müşteri
tercihlerinin üstünde. Bu nedenle markanın tanıtımı ve ürün satışları için ilgilenecek profildeki müşterilerle özel olarak
iletişime geçmek isteniliyor. Sadık müşterilerinden(champions, loyal_customers) ve kadın kategorisinden alışveriş
yapan kişiler özel olarak iletişim kurulacak müşteriler. Bu müşterilerin id numaralarını csv dosyasına kaydediniz

In [125]:
target_segments_customer_ids = rfm[rfm["segment"].isin(["champions","loyal_customers"])]["customer_id"]
cust_ids = df[(df["master_id"].isin(target_segments_customer_ids)) & (df["interested_in_categories_12"].str.contains("KADIN"))]["master_id"]
cust_ids.to_csv("yeni-marka-hedef-musteri-id.csv", index=False)

* * Erkek ve Çocuk ürünlerinde %40'a yakın indirim planlanmaktadır. Bu indirimle ilgili kategorilerle ilgilenen geçmişte
iyi müşteri olan ama uzun süredir alışveriş yapmayan kaybedilmemesi gereken müşteriler, uykuda olanlar ve yeni
gelen müşteriler özel olarak hedef alınmak isteniyor. Uygun profildeki müşterilerin id'lerini csv dosyasına kaydediniz

In [128]:
target_segments_customer_ids = rfm[rfm["segment"].isin(["cant_loose","at_risk","hibernating","about_to_sleep","new_customers"])]["customer_id"]
cust_ids = df[(df["master_id"].isin(target_segments_customer_ids)) & (df["interested_in_categories_12"].str.contains("ERKEK"))|(df["interested_in_categories_12"].str.contains("COCUK"))]["master_id"]
cust_ids.to_csv("erkek-cocuk-kategori-indirim-hedef-musteri-id.csv",index=False)

### özetle;

In [130]:
def create_rfm(dataframe):
    # Veriyi Hazırlma
    dataframe["order_num_total"] = dataframe["order_num_total_ever_online"] + dataframe["order_num_total_ever_offline"]
    dataframe["customer_value_total"] = dataframe["customer_value_total_ever_offline"] + dataframe["customer_value_total_ever_online"]
    date_columns = dataframe.columns[dataframe.columns.str.contains("date")]
    dataframe[date_columns] = dataframe[date_columns].apply(pd.to_datetime)


    # RFM METRIKLERININ HESAPLANMASI
    dataframe["last_order_date"].max()  # 2021-05-30
    analysis_date = dt.datetime(2021, 6, 1)
    rfm = pd.DataFrame()
    rfm["customer_id"] = dataframe["master_id"]
    rfm["recency"] = (analysis_date - dataframe["last_order_date"]).astype('timedelta64[D]')
    rfm["frequency"] = dataframe["order_num_total"]
    rfm["monetary"] = dataframe["customer_value_total"]

    # RF ve RFM SKORLARININ HESAPLANMASI
    rfm["recency_score"] = pd.qcut(rfm['recency'], 5, labels=[5, 4, 3, 2, 1])
    rfm["frequency_score"] = pd.qcut(rfm['frequency'].rank(method="first"), 5, labels=[1, 2, 3, 4, 5])
    rfm["monetary_score"] = pd.qcut(rfm['monetary'], 5, labels=[1, 2, 3, 4, 5])
    rfm["RF_SCORE"] = (rfm['recency_score'].astype(str) + rfm['frequency_score'].astype(str))
    rfm["RFM_SCORE"] = (rfm['recency_score'].astype(str) + rfm['frequency_score'].astype(str) + rfm['monetary_score'].astype(str))


    # SEGMENTLERIN ISIMLENDIRILMESI
    seg_map = {
        r'[1-2][1-2]': 'hibernating',
        r'[1-2][3-4]': 'at_Risk',
        r'[1-2]5': 'cant_loose',
        r'3[1-2]': 'about_to_sleep',
        r'33': 'need_attention',
        r'[3-4][4-5]': 'loyal_customers',
        r'41': 'promising',
        r'51': 'new_customers',
        r'[4-5][2-3]': 'potential_loyalists',
        r'5[4-5]': 'champions'
    }
    rfm['segment'] = rfm['RF_SCORE'].replace(seg_map, regex=True)

    return rfm[["customer_id", "recency","frequency","monetary","RF_SCORE","RFM_SCORE","segment"]]